{% extends "base.html" %}

{% block title %}Adel Davletshina | Contact{% endblock %}

{% block content %}
    <div class="form">
         <p>Contact me</p>

        <form action = "" method = "POST">
            {% csrf_token %}

            <input class="input" id="author_name" type="text" name="author_name" value="" placeholder="NAME" required />

            <input class="input" id="email" type="email" name="email" value="" placeholder="EMAIL" required />

            <input class="input_message" id="message" type="text" name="message" value="" placeholder="MESSAGE" required/>

            <div><button class="send" type="submit">SEND</button></div>

        </form>

    </div>
{% endblock %}
